<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025146739011-i7k6r5giobglnu4pbqlp5smijhgsgv6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025146739011-i7k6r5giobglnu4pbqlp5smijhgsgv6c</string>
	<key>API_KEY</key>
	<string>AIzaSyAVA--t42qL3nKayuCd79ZIlfqS1fC6oLU</string>
	<key>GCM_SENDER_ID</key>
	<string>1025146739011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stumbler.stumble</string>
	<key>PROJECT_ID</key>
	<string>barapp-347820</string>
	<key>STORAGE_BUCKET</key>
	<string>barapp-347820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025146739011:ios:6c4112f4f0c93e72a3f7f6</string>
</dict>
</plist>